body {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  background-image: url("../img/main-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center; }

.container {
  max-width: 1140px;
  margin: auto; }

.ava {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 20px; }

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  margin-bottom: 30%; }

.logo {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px; }

.search-input {
  flex: 1;
  padding: 12px 18px;
  left: calc(50% - 800px/2 + 3.28px);
  top: calc(50% - 40px/2 - 803.46px);
  font-size: 14px;
  line-height: 16px; }

.input-common {
  background: rgba(196, 196, 196, 0.5);
  border: none;
  border-radius: 5px;
  color: #AEAEAE; }
  .input-common input::-webkit-input-placeholder {
    color: #AEAEAE; }
  .input-common input:-moz-placeholder {
    color: #AEAEAE; }
  .input-common input::-moz-placeholder {
    color: #AEAEAE; }
  .input-common input:-ms-input-placeholder {
    color: #AEAEAE; }

.search-string {
  display: flex;
  align-items: center;
  flex: 0.8; }

.search-button {
  background-color: transparent;
  border: none;
  padding: 10px 18px; }

.user {
  display: flex;
  align-items: center; }

.ava {
  margin-left: 20px; }

.bm-icon {
  border-color: black; }

.title {
  margin: 0;
  margin-bottom: 7px;
  font-family: "Playfair Display", serif;
  font-size: 48px;
  line-height: 64px; }

.title-en {
  font-size: 20px;
  line-height: 23px;
  color: #787878;
  margin-bottom: 38px;
  display: inline-block; }

.tag {
  color: #333333;
  background-color: white;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 20px;
  display: inline-block; }

.contry {
  margin-right: 33px; }

.info {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  justify-content: space-between;
  margin-bottom: 108px; }

.play-trailer {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white; }
  .play-trailer:before {
    content: "";
    background-image: url("../img/play.svg");
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 15px; }

.more {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white; }
  .more:after {
    content: "";
    background-image: url("../img/play.svg");
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
    transform: rotate(90deg);
    margin-left: 15px; }

.movie-info {
  display: flex;
  align-items: center; }

.content {
  color: black;
  justify-content: space-between;
  background-color: white;
  border-radius: 3px;
  padding: 3% 4%;
  display: flex; }

.poster {
  display: block;
  margin-top: -40%; }

.willWatch {
  padding: 10px 42.5px;
  background-color: #FF8F27;
  color: white;
  font-size: 14px;
  line-height: 16px;
  border: none;
  margin-top: 20px; }

.actors-title {
  font-size: 16px;
  font-weight: 900;
  padding-left: 15px;
  line-height: 150%;
  margin-bottom: 10px; }

.actors-list {
  list-style: none;
  padding-left: 15px;
  text-decoration: underline;
  line-height: 150%; }

.tabs-item {
  color: black;
  text-decoration: none;
  margin-right: 4%;
  font-size: 18px;
  line-height: 21px; }
  .tabs-item:last-child {
    margin-right: 0; }

.tabs {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  margin-bottom: 40px; }

.full-info {
  flex: 0.97; }

.active {
  color: #FF8F27; }

.full-content {
  display: flex;
  justify-content: space-between; }

.tabs-content {
  margin-right: 70px;
  display: none; }

.visible {
  display: block; }

.subscribe-form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-bottom: 48px; }

.subscribe-title {
  font-size: 16px;
  font-weight: 900;
  line-height: 150%;
  margin-bottom: 14px;
  margin-top: 0; }

.subscribe-button {
  background-color: #FF8F27;
  border: none;
  border-radius: 0px 5px 5px 0px;
  padding: 12px; }

.subscribe-input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 14px;
  padding-left: 10px; }

.text {
  font-size: 16px;
  line-height: 140%;
  margin-top: 0; }

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px; }

  .tabs-item {
    font-size: 16px; }

  .tabs {
    margin-bottom: 4%; }

  .short-info {
    margin-right: 3%; } }
@media screen and (max-width: 992px) {
  .container {
    max-width: 740px; }

  .tabs {
    flex-wrap: wrap; }

  .tabs-item {
    flex-basis: 20%;
    line-height: 2; }

  .full-content {
    flex-wrap: wrap; }

  .tabs-content {
    margin-bottom: 5%; }

  .text {
    font-size: 14px; } }
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px; }

  .more {
    display: none; }

  .tabs-item {
    flex-basis: 33%; }

  .tabs-content {
    margin-right: 0; } }
@media screen and (max-width: 578px) {
  .container {
    max-width: 90%; }

  .search {
    flex-basis: 100%;
    order: 3;
    margin-top: 5%; }

  .header {
    flex-wrap: wrap; }

  .content {
    flex-wrap: wrap; }

  .actors-list, .actors-title {
    display: none; }

  .short-info {
    margin-bottom: 5%; }

  .movie-info {
    flex-wrap: wrap; }

  .play-trailer {
    flex-basis: 100%;
    margin-top: 10%; }

  .poster {
    width: 100%;
    display: inline-block;
    margin-top: -20%; }

  .short-info {
    margin-right: 0; }

  .willWatch {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
